.winner {
  color: green;
  margin-left: -75%;
  /* float:right; */
  /* padding -bottom: 1%; */
}
.loser {
  color: red;
  /* float:right; */
  margin-left: -75%;
  /* padding -bottom: -1%; */
}

.team-name {
  width: 20%;
}
